@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.logo img {
    width: 200px;
    height: auto;
}

@media (min-width: 1200px) {
    .max-width-270 {
        width: 16.875rem;
    }
}

@media (min-width: 1480px) {
    .container {
        max-width: 1430px;
    }
}